@import 'tailwindcss';

@layer base {
    @keyframes move-sideways {
        0%, 100% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(10px);
        }
    }
}